<article class="snippet">
  <img src="{{post.data.title.image}}" alt="{{post.data.imageAlt}}" class="snippet__image">
  <h3 class="snippet__title"><a href="{{post.url}}">{{ post.data.title }} </a></h3>
 <p class="snippet__meta">Company: <span>{{post.data.company}}</span> <!-- on <span>{{post.date | postDate}}</span></p> -->
  <p class="snippet__body">{{post.data.description}}</p> 
  <a href="{{post.url}}" class="btn btn--primary">More details</a>
</article>