

<header class="page-header">
	<div class="container"> 
		<div class="page-header__content">
			
				<div class="logo-box">
					<a href="/">
				{% include "logo.njk"%}
	</a>
				</div>
		
			<nav>
				<ul role="list" class="nav-list flex-group">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/blog/">Blog</a>
					</li>
					<li>
						<a href="/connect/">Connect</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>