
<section class="hero">
		<div class="container flow">
			<div class="hero__content flow ">
				<h1 class="section-title"> {{title}}  </h1>
				<h3>{{subtitle}}</h3>
				<h4>{{tagline}}</h4>
								
					{% include 'content/hero_text.njk' %}
				<div class="flex-group">
					<a href="#featured-articles" class="btn btn--primary"
						>Featured articles</a
					>
					<a href="./blog" class="btn btn--neutral"
						>Most recent articles</a
					>
				</div>
			</div>
			<div>
				<img src="https://media.publit.io/file/Giacomo-Sepe-DEF.png" alt="" class="Giacomo Sepe | Product strategy" />
			</div>
		</div>
	</section>